#error404 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #886c8c
}

#carl {
  position: absolute;
  top: 20;
  left: 10;
}

#paul {
  position: absolute;
  top: 20;
  left: 10;
}

.container{
  height: 400px;
  width: 400px;
  position:relative;
}

