#error404 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #886c8c
}

#carl {
  position: absolute;
  top: 20;
  left: 10;
}

#paul {
  position: absolute;
  top: 20;
  left: 15;
}

#message{

}

.container{
  height: 200px;
  width: 80%;
  position:relative;
  border-radius: 20px;
  font-size: 140%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom:30px;
  /*border: 1px solid black;
  border-radius: 10px;*/
  background-color: hsla(178, 20%, 0%, 0.7);
  color: white;
}

