body {
  width: 100%;
  font-size: 1em;
  color: #000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
}
main {
  min-height: 455px;
  position: relative;
}
footer {
  font-size: 55%;
  text-align: center;
  height: 2em;
}
/*--TEXT AND LINKS--------------------------------*/
h1 {
  font-size: 350%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 110%;
}
a:link {
  color: #ffdf3f;
}
a:visited {
  color: #ffdf3f;
}
a:hover {
  color: #df4c25;
}
/*--NAVIGATION--------------------------------*/
nav button {
  width: 25%;
  height: 50px;
  text-shadow: 0px 1.5px 1.5px rgba(0,0,0,0.3);
}
.nav:hover {
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}
#nav-home {
  border: 2px solid #fede3d;
}
#nav-design {
  border: 2px solid #29d4ce;
}
#nav-pattern {
  border: 2px solid #63cb2a;
}
#nav-about {
  border: 2px solid #df4c25;
}
/*--CONTENT--------------------------------*/
.colorize {
  color: #fede3d;
  font-weight: bolder;
  font-size: 1.2em;
}
.welcome h2 {
  color: #fede3d;
}
/*--FORMS--------------------------------*/
form {
  width: 50%;
}
label.disabled {
  color: #393939;
}
#save-new-design {
  position: relative;
  padding-bottom: 5em;
}
/*--CANVAS--------------------------------*/
#render {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 501px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
}
#canvas1, #canvas2, #canvas3, #canvas4 {
  position: absolute;
  top: 0;
  left: 0;
}
/*--BUTTONS--------------------------------*/
button {
  padding: 1em;
  border: 0px solid #000;
  color: #000;
  cursor: pointer;
  text-shadow: 0px 1.0px 2.0px #000;
}
button:disabled {
  color: #393939;
}
#to-previous-pattern {
  font-size: 120%;
  border: 1px solid #63cb2a;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
#to-previous-pattern:hover {
  background-color: #63cb2a;
}
#clearPattern {
  font-size: 120%;
  border: 1px solid #fede3d;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  color: #fff;
}
#clearPattern:hover {
  background-color: #fede3d;
}
#start-design, #submit {
  font-size: 120%;
  color: #fff;
  border-radius: 10px;
}
#submit {
  border: 1px solid #fede3d;
  background-color: rgba(0,0,0,0.2);
}
#submit:hover {
  background-color: #fede3d;
}
#start-design:hover {
  background-color: #29d4ce;
  color: #fff;
}
#start-design {
  border: 1px solid #29d4ce;
  background-color: rgba(0,0,0,0.2);
}
#first-step {
  margin-top:;
  text-shadow: 0px 1px 1px black;
  border: 1px solid hsla(178, 83%, 55%, 0.8);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: #fff;
}
#first-step:hover {
  text-shadow: 0px 1px 1px black;
  color: #fff;
  background-color: hsla(178, 83%, 55%, 0.8);
}
#save-design {
  position: absolute;
  bottom: 1em;
  left: 1em;
  text-shadow: 0px 1px 1px black;
  font-size: 120%;
  border: 1px solid hsla(178, 83%, 55%, 0.8);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: #fff;
}
#save-design:hover {
  text-shadow: 0px 1px 1px black;
  color: #fff;
  background-color: hsla(178, 83%, 55%, 0.8);
}
#go-to-pattern {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-shadow: 0px 1px 1px black;
  font-size: 120%;
  border: 1px solid hsla(99, 83%, 56%, 0.9);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: #fff;
}
#go-to-pattern:hover {
  background-color: hsla(99, 83%, 56%, 0.9);
  text-shadow: 0px 1px 1px black;
}