.underline {
  color: hsla(178, 83%, 55%, 0.9);
}
.design-main {
  width: 70em;
  font-family: Helvetica;
  color: white;
  overflow: auto;
  padding-bottom: 1em;
}
#design {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  word-spacing: .02em;
  color: white;
  width: 52%;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  overflow: auto;
}
#save-new-design {
  background-color: hsla(0, 0%, 0%, 0.7);
  position: relative;
}
.design-instructions {
  padding: 10px;
  background-color: hsla(0, 0%, 0%, 0.7);
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: bolder;
  color: hsla(178, 83%, 55%, 0.9);
}
.design-description{
  margin-top: 5px;
}
.reminder {
  font-size: 1.1em;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 0.83em;
  font-weight: 100;
}
.reminder span {
  color: hsla(178, 83%, 55%, 0.8);
  text-decoration: none;
}
fieldset h4{
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 0.1em;
  margin-bottom: px;
  /*margin-bottom: 50px;*/
  margin-bottom: .83em;
}
hr {
  margin-bottom: .83em;
  border-color: hsla(0, 0%, 100%, 0.8);
}
#field1 {
  margin-bottom: 50px;
}
#field1 label {
  margin-right: .2em;
  font-weight: 100;
  margin-bottom: 1.2em;
}
.working-direction {
  margin-bottom: .2em;
}
#field1 p {
  margin-bottom: 1em;
}
#render {
  float: left;
  position: fixed;
  top: 170px;
  right: 50px;
  width: 501px;
  height: 361px;
  margin-left: .1em;
  background-color: white;
  border-radius: 10px;
}
#canvas1, #canvas2, #canvas3, #canvas4 {
  position: absolute;
  top: 0;
  left: 0;
}
/*#library {
  margin-left: 20px;
  margin-top: 20px;
  clear: left;
}*/
#first-step {
  margin-top:;
  text-shadow: 0px 1px 1px black;
  border: 1px solid hsla(178, 83%, 55%, 0.8);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: white;
}
#first-step:hover {
  text-shadow: 0px 1px 1px black;
  color: white;
  background-color: hsla(178, 83%, 55%, 0.8);
}
#save-design {
  position: absolute;
  bottom: 1em;
  left: 1em;
  text-shadow: 0px 1px 1px black;
  font-size: 120%;
  border: 1px solid hsla(178, 83%, 55%, 0.8);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: white;
}

#save-design:hover {
  text-shadow: 0px 1px 1px black;
  color: white;
  background-color: hsla(178, 83%, 55%, 0.8);
}
#go-to-pattern {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-shadow: 0px 1px 1px black;
  font-size: 120%;
  border: 1px solid hsla(99, 83%, 56%, 0.9);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: white;
}
#go-to-pattern:hover {
  background-color: hsla(99, 83%, 56%, 0.9);
  text-shadow: 0px 1.0px 1.0px black;
}
#make {
  margin-top: 1em;
}
