main {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 60%;
  padding-bottom:30px;
  margin-top:40px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: white;
}
label {
  font-weight: 100;
  word-spacing: 0.2em;
}
fieldset p {
  margin: 20px;
}
.welcome {
  word-spacing: .02em;
  margin: .5em auto 1em auto;
  text-align: center;
  padding: 20px;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: white;
}
.welcome p {
  margin-bottom: 1em;
  line-height: 1.5em;
  font-weight: 200;
}
.colorize {
  color: hsla(50, 100%, 62%, 1.0);
  font-weight: bolder;
  font-size: 1.2em;
}
#enter-name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
  font-weight: 150;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: white;
}
#label-enter-name, #choose-size {
  font-size: 1.2em;
  font-weight: 200;
}
#retrieve {
  font-size: 1.3em;
  font-weight: 400;
}
#tell-us {
  font-size: 1.0em;
  font-weight: 100;
}
#alternate-enter-name {
  padding: 10px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 100%;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: white;
}
#alternate-enter-name p {
  font-size:1.0em;
  font-weight: 100;
  word-spacing: 0.02em;
  margin: 20px;
}
#to-pattern {
  text-shadow: 0px 1px 1px black;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 110%;
  border: 1px solid hsla(99, 83%, 56%, 0.9);
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.0);
  color: white;
}
#to-pattern:hover {
  background-color: hsla(99, 83%, 56%, 0.9);
  text-shadow: 0px 1.0px 1.0px black;
}
#clearPattern {
  font-size: 110%;
  border: 1px solid hsla(50, 100%, 62%, 0.8);
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: hsla(0, 0%, 0%, 0.0);
  border-radius: 10px;
  color: white;
  text-shadow: 0px 1.5px 1.5px black;
}
#clearPattern:hover {
  background-color: hsla(50, 100%, 62%, 0.9);
  text-shadow: 0px 1.0px 1.0px black;
}
#start-design, #submit {
  font-size: 140%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 10px;
}
#submit {
  border: 1px solid hsla(50, 100%, 62%, 0.8);
  background-color: hsla(0, 0%, 0%, 0.0);
  text-shadow: 0px 1.0px 1.0px black;
}
#submit:hover {
  background-color: hsla(50, 100%, 62%, 0.8);
  text-shadow: 0px 1.0px 1.0px black;
}
#start-design:hover {
  background-color: hsla(178, 83%, 55%, 0.8);
  color: white;
  text-shadow: 0px 1.0px 1.0px black;
}
#start-design {
  border: 1px solid hsla(178, 83%, 55%, 0.8);
  background-color: hsla(0, 0%, 0%, 0.5);
  text-shadow: 0px 1.0px 1.0px black;
}

