/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– -->*/
#main1 {
  width: 80%;
  padding: 30px;
  margin-top:40px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.welcome {

  font-size: 140%;
  width: 60%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.enter-name {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 100%;
}

fieldset p {
  margin: 20px;
}

#submit {
  margin-top: 20px;
}

.begin-design {
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.start-design {
  font-size: 140%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 200px;
  border-radius: 10px;
}


