.underline {
  color: hsla(99, 83%, 56%, 0.9);
}
#directions h2 {
  font-family: Courier New, serif;
  font-size: 350%;
  margin-bottom: .1em;
  padding-top: .2em;
}

#directions h3 {
  font-size: 1.3em;
  font-weight: bolder;
}
#directions p {
  text-content: justified;
  font-size: 1.0em;
  font-weight: 150;
}
#directions {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: hsla(0, 0%, 0%, 0.7);
  margin: 2.5em auto;
  padding-left: 1.5em;
  padding-bottom: 1em;
  color: white;
  width: 70%;
}
#print-this {
  color: #fff;
  border: 1px solid hsla(99, 83%, 56%, 0.9);
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-color: hsla(0, 0%, 0%, 0.0);
  border-radius: 10px;
  text-shadow: 0px 1.5px 1.5px black;
}
#print-this:hover {
  background-color: hsla(99, 83%, 56%, 0.9);
  text-shadow: 0px 1.0px 1.0px black;
}
h4 {
  margin: 1em 0;
}
p {
  margin: .5em 1em;
  line-height: 1.5em;
}
li {
  margin: .5em 3em;
}
table {
  text-align: left;
  border: 1px solid #fff;
  margin-top: 1em;
  margin-left: 1em;
}
th, td {
  padding: .2em;
  margin: .1em;
}
th {
  text-align: right;
  font-style: italic;
  padding-right: 1em;
}
