* {
  color: #000;
}
body, main, #directions{
  width: 100%;
  margin: 0;
  float: none;
}
#header, #nav, .noprint {
  display: none;
}
h1 {
  font-size: 150%;
  color: #000;
}
h4 {
  margin: .5em 0;
}
p {
  margin: .3em 1em;
  line-height: 1.1em;
}
table {
  border-color: #000;
}